html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
}

img {
    width: 420px;
    height: 280px;
    padding: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.page-nav {
    padding: 77px 0 103px 0;
}

/* site navigation */
.site-navigation {
    display: inline-block;
    vertical-align: middle;
    width: 900px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    list-style: none;
    text-align: center;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation li:not(:last-child) {
    margin-right: 95px;
}

.site-navigation li:first-child {
    margin-left: 160px;
}

.site-navigation li:last-child {
    margin-right: 160px;
}

.site-navigation li a {
    text-decoration: none; 
    color: rgba(25, 102, 92, 0.788);
}

.site-navigation a:hover {
    color: #25b4f5;
}

.bottom {
    margin-bottom: 134px;
}

.space {
    margin-bottom: 54px;
}

/* feature */

.feature-section {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.feature-article {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    text-align: left;
}

.feature-article:nth-child(2n) {
    margin-right: 0;
}

.feature-article h2 {
    margin-bottom: 25px;
    font-size: 30px;
}

.feature-article p  {
    font-size: 14px;
    text-align: justify;
}

.feature-article .single {
    padding: 32px 0 25px 0;
}

/* footer */

.page-footer {
    text-align: center;
}

.button {
    display: inline-block;
    padding:21px 34px 22px 34px;
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 21px;
    cursor: pointer;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
}