@font-face {
  font-family: "Montserrat-Bold";
  src: url(../css/fonts/monsterrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../css/fonts/roboto/Roboto-Light.ttf);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.container {
  background-image: url(../img/couple-m.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 540px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.navigation {
  height: auto;
  width: 57.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-family: "Montserrat-Bold";
}

.menu__registration {
  display: flex;
  padding-bottom: 43%;
}

.navigation h2 {
  font-size: 1.25em;
  cursor: pointer;
}

.menu__information {
  margin-top: 8.375%;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  font-family: "Montserrat-Bold";
}

.menu__information_h {
  font-size: 1.875em;
}

.menu__information_p {
  font-size: 1.125em;
  font-family: "Roboto-Light";
}

.button {
  background: none;
  width: 50.7567%;
  font-size: 0.875em;
  margin: 20px 5px;
  line-height: 40px;
  color: #fff;
  border: 3px solid transparent;
  border-radius: 20px;
  transition: all .4s ease-in-out;
}

.button:hover,
.button:focus,
.button:active {
  border-color: #fff;
  outline: none;
}

.finder {
  border-radius: 20px;
  background: #ff4e50;
  border: none;
  color: #fff;
  width: 238px;
  margin-top: 30px;
  transition: all .2s ease-in;
  font-size: 0.875em;
  line-height: 40px;
}

.finder:hover,
.finder:focus,
.finder:active {
  transform: scaleX(1.1);
  outline: none;
}

/* section */
.category {
  width: 81.25%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  font-family: "Montserrat-Bold";
}

.card {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 4.4715%;
}

.card__header {
  margin-top: 20px;
  font-size: 1.3737em;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  margin-bottom: 20px;
}

.picture__wrapper {
  display: block;
  position: relative;
  z-index: 0;
}

.icon-wrapper {
  position: absolute;
  bottom: -12px;
  right: 3px;
}

.face {
  border-radius: 50%;
  object-fit: cover;
  width: 122px;
  height: 122px;
}

.icon {
  height: 36px;
  width: 37px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: none;
}

.red {
  background: #ff4e50;
}

.yellow {
  background: #ffa507;
}

.lightgreen {
  background: #1cd7ad;
}

.blue {
  background: #4e73db;
}


.face {
  display: block;
}

.signature__p {
  font-family: "Roboto-Light";
  height: auto;
}

.other {
  border-radius: 20px;
  line-height: 40px;
  background: transparent;
  border: 3px solid #ff4e50;
  color: #ff4e50;
  width: 87.5%;
  margin-bottom: 17.8125%;
  font-size: 0,875em;
}

.other:hover,
.other:focus,
.other:active {
  outline: none;
}

@media screen and (min-width: 480px) {
  .container {
    background-image: url(../img/couple-t.jpg);
    height: 700px;
  }

  .header {
    width: 90%;
    margin: 0 auto;
  }
  
  .navigation {
    width: 100%;
    padding-top: 4.0217%;
    flex-direction: row;
    align-items: center;
  }

  .menu__registration {
    order: 2;
    display: flex;
    align-items: flex-start;
    width: 32.4242%;
    padding: 0;
  }

  .background img,
  .fon__inner {
    height: 700px;
  }
  
  .menu__information {
    width: 74.5454%;
    margin: 0 auto;
    height: auto;
    margin-top: 22.7272%;
  } 

  .menu__information_h {
    font-size: 3.248125em;
  }

  /* section */
  .category {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5.6060%;
  }
  
  .card {
    width: 74.5454%;
    margin: 0 auto;
    margin-bottom: 4.03170%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  
  .item {
    justify-content: flex-start;
    width: 47.9674%;
    margin-right: 4.0650%;
  }

  .first {
    order: 1;
  }

  .second {
    order: 3;
  }

  .third {
    order: 2;
    margin-right: 0;
  }

  .firth {
    order: 4;
    margin-right: 0;
  }

  .signature {
    padding-top: 8.1194%;
  }

  .signature__h {
    padding-bottom: 4.1194%;
  }

  .other {
    width: 39.0243%;
    margin: 0 4.0650% 8.3333% 0;

  }
}

@media screen and (min-width: 940px) {
  .container {
    background-image: url(../img/couple-d.jpg);
  }

  .header,
  .category {
    width: 70%;
    margin: 0 auto;
  }
  
  .navigation {
    width: 100%;
    margin: 2.1% 0 7.4255% 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
  }

  .menu__registration {
    order: 2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 20%;
    padding: 0;
  }
  
  .menu__information {
    width: 63.0638%;
    margin: 0 auto;
  } 

  .menu__information h1 {
    font-size: 3.248125em;
  }

  .menu__information_p {
    font-size: 1,5em;
  }

  /* section */
  .card {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 3.1914%;
  }
  
  .item {
    display: flex;
    align-items: center;
    width: 23.4042%;
    height: auto;
    margin-right: 2.1276%;
    justify-content: space-around;
  }

  .item:last-child {
    margin-right: 0;
  }

  .other {
    width: 27.851%;
    margin: 0 0 3.9787% 0;
  }
}